

.searching {
    margin-top: 1cm;
    margin-left: 15cm;
}

.searching-input {
    width: 12cm;
    height: 1cm;
    font-size: 0.5cm;
}

.drink {
    margin-top: 1cm;
    font-size: 0.5cm;
    color: blue;
    margin-left: 2cm;
    font-weight: bold;
}